<%- include partials/header %>

<div class="container my-5 text-center">
  <h1 class="display-2 font-weight-bold my-5">Welcome!</h1>

  <% if (currentUser) { %>
    <a class="btn btn-lg btn-outline-primary" href="/heroes/new">Submit a Hero</a>

  <% } else { %>
    <div class="container my-5">
      <p>
        <a class="btn btn-outline-primary py-0" href="/login">Login </a>
         or
        <a class="btn btn-outline-success  py-0" href="/register"> Register </a>
         to submit a Hero!
      </p>
    </div>
  <% } %>
</div>

<div class="main container">

  <ul class="list-group text-left">

    <% heroes.forEach(function(hero){ %>
    <li class="list-group-item">
      <p class="display-4">
        <%= hero.name %>
      </p>
      <p><%= hero.date.toDateString() %></p>
      <img class="img-thumbnail float-right" src="<%= hero.image %>" alt="">

      <p> <%= hero.info %></p>

      <a class="btn btn-info" href="/heroes/<%= hero._id %>">See More</a>
    </li>
    <% }); %>

  </ul>

</div>



<%- include partials/footer %>
