<%- include partials/header %>

<div class="container mt-5">
  <h1><%= hero.name %></h1>

  <p><%= hero.date.toDateString() %></p>

  <img src="<%= hero.image %>" alt="">

  <p class="caption"> <%= hero.info %></p>

  <a class="btn btn-success" href="/heroes/<%= hero._id %>/edit">Edit Hero</a>

  <a class="btn btn-primary" href="/heroes">Back</a>
</div>





<%- include partials/footer %>
