<%- include ../partials/header %>

<div class="hero-show-box fluid-container my-5 mx-auto border border-success p-4 rounded">
  <h1 class="display-1 my-5"><%= hero.name %></h1>

  <p class="mb-4">
    <% if (hero.author.username) { %>
      <em>Submitted By <%= hero.author.username %> </em>
    <% } else { %>
      <em>Sample Hero</em>
    <% } %>
  </p>


  <p><%= hero.date.toDateString() %></p>

  <img  class="my-5 mx-auto" src="<%= hero.image %>" alt="">

  <div class="container text-center mx-auto mb-5 px-5">
    <h3 class="hero-info mb-5 mx-auto"> <%= hero.info %></h3>
  </div>

<div class="berry container m-auto">
  <div class="my-5 border border-success p-4 rounded">
    <p class="h5">Likes These Berries:</p>

      <% hero.berries.forEach(function(berry){ %>
        <div class="container">
          <img src="<%= berry.image %>" alt="">
          <p><%= berry.name %></p>
        </div>
      <% }); %>
  </div>
</div>

<% if (hero.author.id && currentUser && hero.author.id.equals(currentUser._id)) { %>
  <a class="btn btn-outline-warning btn-lg mx-3 mb-5" href="/heroes/<%= hero._id %>/edit">Edit Hero</a>
<% } %>


  <a class="btn btn-primary btn-lg mx-3 mb-5" href="/heroes">Go Back</a>
</div>


<div class="card review-display my-5 mx-auto">
  <h4 class="card-header display-4">Reviews</h4>
  <% if (hero.reviews.length === 0) { %>
    <ul class="list-group">
      <li class="list-group-item">
        There are currently no reviews for this hero.
      </li>
    </ul>
  <% } else { %>
    <ul class="list-group">
      <% hero.reviews.forEach(function(review) { %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">
              <h4><strong><%= review.author.username %></strong></h4>
              <p><em><%= review.date.toDateString() %></em></p>
            </div>
            <div class="col-8">
              <p class="review-comment"><%= review.comment %></p>

              <% if (review.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-outline-warning btn-sm"
                  href="/heroes/<%= hero._id %>/review/<%= review._id %>/edit">
                  Edit Review
                </a>
              <% } %>


            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  <% } %>

</div>

<% if (currentUser) { %>
  <div class="card review-form mx-auto my-5">
    <h4 class="card-header">Leave a Review as <em><%= currentUser.username %></em></h4>
    <form class="container" action="/heroes/<%= hero._id %>/review" method="post">
      <div class="form-group my-3">
        <input class="form-control form-control-lg" type="text" name="comment" value="" placeholder="Comment" required>
      </div>
      <button class="btn btn-lg btn-primary mb-3" type="submit" name="button">Submit Review</button>
    </form>
  </div>
<% } else { %>
  <div class="container my-5">
    <p>
      <a href="/login">Login </a>
       or
      <a href="/register"> Register </a>
       to submit a review!
    </p>
  </div>
<% } %>





<%- include ../partials/footer %>
